{% extends 'layout.html' %}
{% block title%}
    Users
{% endblock %}
{% block content %}
<section>

    <h1>Users</h1>
    {% for user in users %}
    <article class="users">
        <a href="{% url 'users:page' userid=user.userid %}">
        <h2>
            {{user.name}}
        </h2>
    </a>
        <p>
            {{user.date}}
        </p>
        <p>
            {{user.userid}}
        </p>
    </article>
    {% endfor%}

    <a href="{% url 'users:register' %}">
        <h1>Register User</h1>
    </a>
    
</section>
{% endblock %}
